body {
    background-color: #5ED8FF;
    margin: 0;
    display: grid;
    width: 1400px;
    height: 900px;

    /* For testing */
    border: 1px solid black; 
    grid-template-columns: repeat(100, 1fr);
    grid-template-rows: repeat(100, 1fr);

}

.cocoon {
    display: block;
    width: 300px;
    height: 566px;
    background-color: #7DA151;
    border-radius: 60% 60% 40% 40% / 50% 50% 60% 60%;
    position:relative;
    z-index: 4;
    top: 20%;
    left: 40%;
    align-items: center;
    justify-content: center;
    display: flex;
    
}

.green {
    background-color: #7DA151;
}

.border-left {
    border-left: 3px solid #7DA151;
}