body {
    background-color: grey
}
.painting-1 {
    display: grid;
    width: 600px;
    height: 600px; 
    
    
    /*testing */
    border: 1px solid black;
    
    grid-template-columns: repeat(15,1fr);
    grid-template-rows: repeat(15,1fr);
}

.cream {
    background-color: white; 
}

.red {
    background-color: red;
}
   
.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.border-right {
    border-right: 20px solid grey;
}

.border-bottom {
    border-bottom: 20px;
    
}